* {
    font-family: monospace;
    background-color: lightgray
}

book_catalog {
    display: table;
    width: 100%;
}

title {
    display: table-caption;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    font-weight: bold
}

bookTitle {
    color: red;
    font-weight: bold
}

headings {
    display: table-header-group;
}

records {
    display: table-row-group;
}

record {
    display: table-row;
}

record > * {
    display: table-cell;
    padding: 5px;
}

record > *,
headings > record > * {
    border: thin solid black;
    text-align: center;
    font-weight: bold;
}

records > *:nth-child(even) {
    background-color: lightblue;
}

records > * {
    font-size: 120%;
}

record:nth-child(even) {
    background-color: red
}
